<div>
  <input type="text" on-enter="save()" on-esc="cancel()" ng-model="model.name" ng-show="editMode">
  <button ng-click="cancel()" ng-show="editMode">cancel</button>
  <button ng-click="save()" ng-show="editMode">save</button>
  <span ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
    <span class="boxContent" ng-hide="editMode" ng-click="edit()" >{{model.name}}</span>
  </span>
</div>