<div>
  <h1>{{board.boardname}}</h1>
  <br />
  <table class="table table-bordered">
    <TR class=".box">
      <TD></TD>
      <th class=".box" ng-repeat="i in [] | range:10">
        {{i}}
      </th>
    </TR>
    <tr ng-repeat="row in [0,1,2,3,4,5,6,7,8,9] ">
      <th>{{row}}</th>
      <td ng-repeat="col in [0,1,2,3,4,5,6,7,8,9]" inline-edit="board.data[(row * 10) + col]">
 <!--        <input autofocus="autofocus" style="width: 80%" type="text" ng-model="board.data['' + row + col].name" ng-show="board.data['' + row + col].editmode" ng-enter="clickFunction(-1)" maxLength="10" width="10px"></input>
        <div ng-hide="board.data['' + row + col].editmode">{{board.data['' + row + col].name}}</div> -->
      </td>
    </tr>
  </table>
</div>
